@import "./../../../public//styles/variables.scss";
.sideBar {
  padding: 0.3rem 1rem;
  & > * {
    margin-bottom: 1rem;
  }
}
h3 {
  font-size: 0.78rem;
  color: #a1a1a1;
}
ul {
  padding: 0.7rem 0.5rem;
  li {
    list-style: none;
  }
}
.side-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.4rem;
  margin-top: 0.2em;
  padding: 0.3rem 0;
  color: #555;
  font-size: 0.8rem;
  &:hover {
    background-color: $sideBarLinkHoverColor;
  }
}
.icon {
  margin-right: 0.4rem;
}

.active {
  background-color: $sideBarLinkHoverColor;
}


@media screen and (max-width: 992px) {
  .sideBar {
    width: 15rem;
  }
  
}