@import "./../../../public/styles/variables.scss";

.widget {
  padding: 1rem;
  box-shadow: $boxShadow;
  overflow-x: auto;
  flex: 1;
  > :nth-child(1) {
    h2 {
      font-size: 1.2rem;
    }
  }
}

.widgetSm {
  > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      object-position: top;
      cursor: pointer;
      border: 1px solid #ebebeb;
      transition: all 0.2s;

      border-radius: 50%;
      &:hover {
        scale: 1.2;
      }
    }
  }
}

.widgetSmUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > :nth-child(1) {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: .3rem;
  }
  > :nth-child(2) {
    font-size: 0.8rem;
    color: #919191;
  }
}
