@import "./../public//styles/variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  margin-top: 4rem;
  width: 100% !important;
  display: flex;
  align-items: start;
}
.sideBar-app {
  height: 95vh;
  width: 17rem;
  background-color: $sideBarColor;
}
.router-app {
  width: 100%;
  padding: 0 1rem;
}

@media screen and (max-width: 992px) {
  .sideBar-app {
    width: 25%;
    display: none;
  }
  .router-app {
    width: 100%;
  }
}
